<%- include("header"); -%>

<h2>this is about</h2>
<p>vdbng betybtn tbetbbbeb htenetbntbyetbhn tehnbteh et te t et th t h thbetnnhmujythgrm,imtujnyrhgtkmtujnry jnyhbttmnjybht kujny hbhh</p> 
 
<%- include("footer"); -%>